.mjd-color {
    color: initial;
}
.mjd-color-1 {
    color: #FFFFFF;
}
.mjd-color-4144960 {
    color: #C0C0C0;
}
.mjd-color-8355712 {
    color: #808080;
}
.mjd-color-10461088 {
    color: #606060;
}
.mjd-color-64 {
    color: #FFFFBF;
}
.mjd-color-128 {
    color: #FFFF80;
}
.mjd-color-192 {
    color: #FFFF3F;
}
.mjd-color-16384 {
    color: #FFC000;
}
.mjd-color-4128832 {
    color: #C1FFC0;
}
.mjd-color-4128896 {
    color: #C1FF80;
}
.mjd-color-4128960 {
    color: #C0FF3F;
}
.mjd-color-12517632 {
    color: #40FF01;
}
.mjd-color-12550144 {
    color: #3F8000;
}
.mjd-color-4128769 {
    color: #BFFFFF;
}
.mjd-color-8323073 {
    color: #7FFFFE;
}
.mjd-color-16727809 {
    color: #00C0FF;
}
.mjd-color-16744193 {
    color: #0080FF;
}
.mjd-color-16760640 {
    color: #003FC0;
}
.mjd-color-16129 {
    color: #FEC0FF;
}
.mjd-color-32513 {
    color: #FE80FE;
}
.mjd-color-48897 {
    color: #FF40FF;
}
.mjd-color-65344 {
    color: #FF00C0;
}
.mjd-color-8388480 {
    color: #81007F;
}
.mjd-color-49088 {
    color: #FE4040;
}
.mjd-color-65472 {
    color: #FF0141;
}
.mjd-color-65536 {
    color: #FE0000;
}
.mjd-color-4194240 {
    color: #C10041;
}
