body {
    color: #FFFFFF;
    background-color: #000000;
}

.btn {
    color: white;
    background-color: black;
    border: 0;
    cursor: pointer;
}

#settingsFormContainer {
    display:none;
    font-family: sans-serif;
}

#metricTemplate {
    display:none;
}

.metric {
    background-color: #181818;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    float: left;
}

.metric:hover {
    background-color: #303030;
}
.metric.blink {
    background-color: #707070;
}

.metric > * {
    text-align: center;
}

.metric .name,
.metric .last {
    color: #bababa;
    font-family: sans-serif;
}

.metric .name {
    height: 20px;
}

.metric .body {
    height: 160px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.metric .last {
    height: 20px;
    font-size: 15px;
}

.metric .body .mjd-text {
    height: 160px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 160px;
    white-space: nowrap;
    font-family: sans-serif;
}

.metric .body .mjd-icon {
    height: 160px;
    line-height: 160px;
    white-space: nowrap;
    font-size: 120px;
}

.metric .body img {
    max-width: 100%;
    max-height: 100%;
}

.loader {
  display:none;
  position: absolute;
  top: 36px;
  left: 30px;
  width: 150px;
  height: 150px;
}
.loader div {
  box-sizing: border-box;
  position: absolute;
  width: 134px;
  height: 134px;
  margin: 8px;
  border: 8px solid #40AFFF;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #40AFFF transparent transparent transparent;
}
.loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
